<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>110752887003-t20magbq4dso9q4nhgp8po0a1ld00it8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.110752887003-t20magbq4dso9q4nhgp8po0a1ld00it8</string>
	<key>API_KEY</key>
	<string>AIzaSyDhXcqQUxp7l8jYqN-HF9M4qglbPwSH3sE</string>
	<key>GCM_SENDER_ID</key>
	<string>110752887003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ComHunt.ios</string>
	<key>PROJECT_ID</key>
	<string>comhunt-5d0c1</string>
	<key>STORAGE_BUCKET</key>
	<string>comhunt-5d0c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:110752887003:ios:569374113f131835</string>
	<key>DATABASE_URL</key>
	<string>https://comhunt-5d0c1.firebaseio.com</string>
</dict>
</plist>